body{
  background-color: rgb(231, 197, 240);
  color: rgb(90, 7, 90); 
  text-align: center;
  font-family: serif;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

fieldset{
  border: 9px solid rgb(90, 7, 90);
}

legend{
  font-size: 26px;
  font-weight: bold;
}

label{
  font-size: 20px;
}

.inputs{
  background-color: rgb(90, 7, 90);
  color: rgb(231, 197, 240);
  font-family: serif;
  font-size: 16px;
}

.dateInput{
width: 130px;
background-color: rgb(90, 7, 90);
color: rgb(231, 197, 240);
font-family: serif;
font-size: 16px;
}

select{
height: 30px;
width: 150px;
}

option{
  font-size: 17px;
}

button{
 background-color: rgb(90, 7, 90);
 color: rgb(231, 197, 240);
 height: 32px;
 font-family: serif;
 font-size: 17px;
}

.display{
  border-bottom: solid 3px rgb(90, 7, 90);
  text-align: left;
}

.formSpace{
  padding: 12px;
}

span{
  font-weight: bold;
}

h2{
  font-size: 26px;
}